<!DOCTYPE html>
<html ng-app = 'app'>
<head>
    <title>Chat Demo</title>
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src='/socket.io/socket.io.js'></script>

    <script>
      var socket = io.connect('http://localhost:5000');

      socket.emit('chat1', {hello: 'world2'});

      socket.on('chat1', function(data){
        console.log(data);
      })
    </script>

</head>
<body ng-controller='SocketCtrl'>
  <input type='text' ng-model='message'></input>
  <button ng-click="addToChat({name: 'Matt', message: message})">Enter</button>
<div ng-repeat="chat in chats">
  <p>{{chat.name + ': ' + chat.message}}</p>
</div>

</body>
</html>
